<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.askhmer.lockscreen"
    android:versionCode="20"
    android:versionName="3.1.1">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <!--
<android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    -->
    <application
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:largeHeap="true"
        tools:replace="@android:icon">
        <activity
            android:name="com.askhmer.lockscreen.activity.LockScreenActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service
            android:name="com.askhmer.lockscreen.utils.LockscreenService"
            android:exported="false" />

        <receiver android:name="com.askhmer.lockscreen.utils.LockscreenIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.askhmer.lockscreen.utils.AlarmReceiver"></receiver>
        <activity
            android:name="com.askhmer.lockscreen.activity.PhoneNumber"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.Information"
            android:label="@string/title_activity_information"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.Age"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.Name"
            android:label="@string/title_activity_information"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.Gender"
            android:label="@string/title_activity_information"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.National"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.Location"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.askhmer.lockscreen.activity.MainActivityTab"
            android:hardwareAccelerated="true"
            android:theme="@style/MyTabTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.PasswordFindMoney"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.Recommend"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.MoneyBalance"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.AccountManage"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.MyInfo"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.ChangePwd"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.ForgetPwd"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.Withdrawal"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.HowToUseChache"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.PrivacyStatement"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.TermsOfUse"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.NewPassword"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.tutorials.MainPage"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.SendMail"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.RegisterOrLogin"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.askhmer.lockscreen.activity.Login"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.LoginDob"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.tutorials.ChooseLanguage"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.askhmer.lockscreen.activity.YoutubeVideo"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        </activity>
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />
    </application>

</manifest>
