<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.askhmer.lockscreen"
    android:versionCode="53"
    android:versionName="3.4.5">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.askhmer.lockscreen.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.askhmer.lockscreen.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
<android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    -->
    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_e"
        android:label="@string/app_name"
        android:largeHeap="true"
        tools:replace="@android:icon">

        <!-- GCM -->
        <service android:name=".GCMIntentService" />
        <service android:name=".utils.CPIservice" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.askhmer.mobileapp" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.LockScreenActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service
            android:name=".utils.LockscreenService"
            android:enabled="true"
            android:exported="true"
            android:process=":ServiceProcess" />

        <receiver android:name=".utils.LockscreenIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utils.AlarmReceiver" />

        <activity
            android:name=".activity.PhoneNumber"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RequestPassword"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Information"
            android:label="@string/title_activity_information"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Age"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Name"
            android:label="@string/title_activity_information"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Gender"
            android:label="@string/title_activity_information"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.National"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Location"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.NewPasswordForFind"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivityTab"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyTabTheme" />
        <activity
            android:name=".activity.PasswordFindMoney"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.Recommend"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.MoneyBalance"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.AccountManage"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.MyInfo"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.ChangePwd"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.ForgetPwd"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.Withdrawal"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.HowToUseChache"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.PrivacyStatement"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.TermsOfUse"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.NewPassword"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".tutorials.MainPage"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.SendMail"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.RegisterOrLogin"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.FogetIDOrPass"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.Login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.LoginDob"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RequestID"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".tutorials.ChooseLanguage"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.YoutubeVideo"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.YoutubePlayerNewFeed"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />
        <activity
            android:name=".activity.CustomizeWebGCM"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.LiveStream"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.ListTopUpCompany"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.DetailTopUp"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.InformationTopUp"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activity.History"
            android:theme="@style/MyAppTheme"></activity>
        <activity
            android:hardwareAccelerated="true"
            android:name=".activity.WebviewFun"
            android:theme="@style/MyAppTheme">

        </activity>
    </application>

</manifest>